<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>SMART WAREHOUSE</title>
     <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://kit.fontawesome.com/a46b7b6629.js" crossorigin="anonymous"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    
     <style>
          body,html{
               height:100%;
               width: 100%;
               margin:0;
               background-position: center;
               background-size: 100% 100%;
               background-repeat: no-repeat;  
               background-color: #F5F5F5;
          }
          
     </style>
</head>
<body>  
    <div class="titleContainer">
        <div class="logo">
            <img src="{{url_for('static',filename='image/logo-removebg-preview.png')}}" alt="logo" width="175px" height="175px">
        </div>
        <div class="title">
            smart warehouse
        </div>    
    </div>  
    <div class="tabContainer">
        <div class="buttonContainer">
            <button class="option1"><a href="/home"><i class="far fa-building"></i>warehouse I</a></button>            
            <button class="option2" onclick="showPanel(0)"><i class="far fa-building"></i>Chart</button>
            <button class="option3"><a href="/camera"><i class="far fa-building"></i>Camera</a></button>
        </div>
        <div class="tabPanelContainer">
            <div class="eml-1">
                <canvas id="temperatureChart" style="width:100%;min-width: 530px;max-width:600px"></canvas>   
            <p class="name-chart">Biểu đồ nhiệt độ</p> 
            </div>
            <div class="eml-2">
                <canvas id="humidityChart" style="width:100%;min-width: 530px;max-width:600px"></canvas>                  
            <p class="name-chart">Biểu đồ độ ẩm</p>                   
            </div>
        </div>   
    </div>
    
    <footer>
        <div class="container">
            <div class="left section">
                <div class="hcmute-ute-logo">
                    <img src="{{url_for('static',filename='image/ute_logo_c.png')}}" class="logo-bottom" width="100" height="100">
                    <br>
                    <span class="hcmute">HCMUTE</span>
                </div>                    
                    <div class="hcmute-ute">
                        <p>
                            <br>
                            TRƯỜNG ĐẠI HỌC <br>
                            <span class="name">SƯ PHẠM KỸ THUẬT TP. HỒ CHÍ MINH</span>
                            <hr class="hr-footer">
                            HCMC University of Technology and Education
                        </p>
                    </div>
                </div>
                <div class="left section">
                    <h2>About Us</h2>
                    <div class="content">
                        <p>
                            Hoàng Minh Nhật - 19133042 <br>
                            Đào Thị Cẩm Tiên - 19133055 <br>
                            Bùi Thị Ngân Tuyền - 19133066
                        </p>
                        <a href="https://tuyensinh.hcmute.edu.vn" target="_blank" class="mr-right-10"><i
                            class="fa-solid fa-globe"></i></a>
                        <a href="https://www.facebook.com/nbee.nhat" target="_blank" class="mr-right-10"><i
                            class="fa-brands fa-facebook-square"></i></a></span>
                    </div>
                </div>

                <div class="center section">
                    <h2>Contact Us</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text"> Phòng B.310, Khu B 
                            </span>
                        </div>
                        <div class="phone">
                            <!-- <span class="fas fa-phone-alt"></span> -->
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">01 Võ Văn Ngân, Linh Chiểu, Thủ Đức, TP.HCM</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">19133042@student.hcmute.edu.vn</span>
                        </div>
                    </div>
                </div>

              
            </div>

            <div class="footer-bottom">
                <section>
                    <div><span>Powered By <a href="https://multiwebpress.com">© 2022 | All Rights Reserved | Made By Group 17</a></span></div>
                </section>
            </div>
        </footer>
        
        <script>
            var xValues = [5,40,75,109,143,177,211,247,281,315];
            var yValues = [29.8,29.8,29.8,29.8,30.2,30.2,30.2,30.2,30.2,30.2,30.2];
            
            new Chart("temperatureChart", {
              type: "line",
              data: {
                labels: xValues,
                datasets: [{
                  fill: false,
                  lineTension: 0,
                  backgroundColor: "rgba(0,0,255,1.0)",
                  borderColor: "rgba(0,0,255,0.1)",
                  data: yValues
                }]
              },
              options: {
                legend: {display: false},
                scales: {
                  yAxes: [{ticks: {min:26, max:40}}],
                }
              }
            });
        </script>
        <script>
            var xValues = [5,40,75,109,143,177,211,247,281,315];
            var yValues = [70,70,70,70,69,69,69,69,69,69];
            
            new Chart("humidityChart", {
                type: "line",
                data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
                },
                options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {min:0, max:100}}],
                }
                }
            });
        </script>
</body>
</html>
